/*global*/

* {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: beige;
}

/*utilities*/
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*menu.html*/
.menu-table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

.menu-table th{
    width: 200%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

.menu-table td {
    padding: 10px;
    text-align: center;
}

.error {
    background-color: red;
}