/*global*/

* {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(244, 235, 188);
}

/*utilities*/
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*menu.html*/
.menu-table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

.menu-table th{
    width: 20%;
    height: 50px;
    background-color: rgb(142, 19, 19);
    color: white;
    text-align: center;
}

.menu-table td {
    padding: 10px;
    text-align: center;
}

.error {
    background-color: red;
}